/* region GLOBAL */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

button:hover, .img-btn:hover
{
    cursor: pointer;
}

.hide
{
    display: none;
}
/* endregion */

/* region LAYOUT */
body
{
    height: 100svh;
    display: flex;
    flex-direction: column;
    background-color: #081419;
    background-image: url("https://theabbie.github.io/blog/assets/official-whatsapp-background-image.jpg");
}

/* endregion */

/* region HEADER */

header
{
    min-height: 50px;
    height: 50px;
    display: flex;
    flex-grow: 0;
    padding: 0 5%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1e2930;
}


#online-users
{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap-reverse;
    align-items: center;
    column-gap: 10px;
    font-size: 0.8em;
    justify-content: flex-start;
}

/* endregion */

/* region COMPOSE BAR */
#compose-bar, #message-bar
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#compose-bar
{
    flex-grow: 0;
    min-height: 50px;
    height: 50px;
    width: 100%;
    margin-bottom: 15px;
    padding: 0 10px;
    column-gap: 5px;
}

#message-bar
{
    height: 100%;
    padding: 5px 10px;
    column-gap: 10px;
    flex-grow: 1;
    background-color: #202c33;
    border-radius: 25px;
}

#message-field
{
    background: none;
    border: none;
    flex-grow: 1;
}

#message-field
{
    background: none;
    outline: none;
    border: none;
    flex-grow: 1;
}

#emoji-btn
{
    height: 100%;
    background: none;
    border: none;
    width: auto;
}

#message-bar span.material-icons
{
    color: #85959f;
}

#image-input-label
{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

/* I would like it to be a circle as big as parent's height, but that is hard */
#send-btn
{
    height: 100%;
    width: 50px; /* CONSTANT, should be the same as height (100% of parent's height) */
    padding: 5px 5px;
    border: none;
    border-radius: 25px;
    background-color: #00a783;
}
/* endregion */

/* region MESSAGES */

#messages
{
    display: flex;
    padding: 10px;
    max-height: 100%;
    flex-direction: column;
    overflow-y: auto;
    align-items: flex-start;
    row-gap: 15px;
    flex-grow: 1;
    color: white;
}

.message-bubble
{
    display: inline-flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 10px;
    background-color: #1d282f;
    border-radius: 10px;
}

.message-bubble-self
{
    align-self: flex-end;
    background-color: #025043;
}

.message-text
{
    margin-left: 5px;
}

.message-author
{
    color: red;
    font-weight: bold;
}

.message-time
{
    color: #728189;
    align-self: end;
    font-size: .8em;
}

/* endregion */
